In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train_app_bureau_merged.csv')

In [3]:
#test = pd.read_csv('data/test_app_bureau_merged.csv')

In [3]:
train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,client_bureau_balance_STATUS_X_count_sum,client_bureau_balance_STATUS_X_count_norm_count,client_bureau_balance_STATUS_X_count_norm_mean,client_bureau_balance_STATUS_X_count_norm_max,client_bureau_balance_STATUS_X_count_norm_min,client_bureau_balance_STATUS_X_count_norm_sum,ANNUITY_INCOME_PERCENT,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,TARGET
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,15.0,8.0,0.161932,0.5,0.0,1.295455,0.121978,0.060749,-0.067329,1
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0.0,0.0,NaN,NaN,NaN,0.000000,0.132217,0.027598,-0.070862,0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0.0,0.0,NaN,NaN,NaN,0.000000,0.100000,0.050000,-0.011814,0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,NaN,NaN,NaN,NaN,NaN,NaN,0.219900,0.094941,-0.159905,0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0.0,0.0,NaN,NaN,NaN,0.000000,0.179963,0.042623,-0.152418,0

In [4]:
train.iloc[3]

SK_ID_CURR                                         100006.000000
NAME_CONTRACT_TYPE                                      0.000000
FLAG_OWN_CAR                                            0.000000
FLAG_OWN_REALTY                                         1.000000
CNT_CHILDREN                                            0.000000
AMT_INCOME_TOTAL                                   135000.000000
AMT_CREDIT                                         312682.500000
AMT_ANNUITY                                         29686.500000
AMT_GOODS_PRICE                                    297000.000000
REGION_POPULATION_RELATIVE                              0.008019
DAYS_BIRTH                                          19005.000000
DAYS_EMPLOYED                                       -3039.000000
DAYS_REGISTRATION                                   -9833.000000
DAYS_ID_PUBLISH                                     -2437.000000
OWN_CAR_AGE                                             0.000000
FLAG_MOBIL                                              1.000000
FLAG_EMP_PHONE                                          1.000000
FLAG_WORK_PHONE                                         0.000000
FLAG_CONT_MOBILE                                        1.000000
FLAG_PHONE                                              0.000000
FLAG_EMAIL                                              0.000000
CNT_FAM_MEMBERS                                         2.000000
REGION_RATING_CLIENT                                    2.000000
REGION_RATING_CLIENT_W_CITY                             2.000000
HOUR_APPR_PROCESS_START                                17.000000
REG_REGION_NOT_LIVE_REGION                              0.000000
REG_REGION_NOT_WORK_REGION                              0.000000
LIVE_REGION_NOT_WORK_REGION                             0.000000
REG_CITY_NOT_LIVE_CITY                                  0.000000
REG_CITY_NOT_WORK_CITY                                  0.000000
                                                       ...
client_bureau_balance_STATUS_5_count_sum                     NaN
client_bureau_balance_STATUS_5_count_norm_count              NaN
client_bureau_balance_STATUS_5_count_norm_mean               NaN
client_bureau_balance_STATUS_5_count_norm_max                NaN
client_bureau_balance_STATUS_5_count_norm_min                NaN
client_bureau_balance_STATUS_5_count_norm_sum                NaN
client_bureau_balance_STATUS_C_count_count                   NaN
client_bureau_balance_STATUS_C_count_mean                    NaN
client_bureau_balance_STATUS_C_count_max                     NaN
client_bureau_balance_STATUS_C_count_min                     NaN
client_bureau_balance_STATUS_C_count_sum                     NaN
client_bureau_balance_STATUS_C_count_norm_count              NaN
client_bureau_balance_STATUS_C_count_norm_mean               NaN
client_bureau_balance_STATUS_C_count_norm_max                NaN
client_bureau_balance_STATUS_C_count_norm_min                NaN
client_bureau_balance_STATUS_C_count_norm_sum                NaN
client_bureau_balance_STATUS_X_count_count                   NaN
client_bureau_balance_STATUS_X_count_mean                    NaN
client_bureau_balance_STATUS_X_count_max                     NaN
client_bureau_balance_STATUS_X_count_min                     NaN
client_bureau_balance_STATUS_X_count_sum                     NaN
client_bureau_balance_STATUS_X_count_norm_count              NaN
client_bureau_balance_STATUS_X_count_norm_mean               NaN
client_bureau_balance_STATUS_X_count_norm_max                NaN
client_bureau_balance_STATUS_X_count_norm_min                NaN
client_bureau_balance_STATUS_X_count_norm_sum                NaN
ANNUITY_INCOME_PERCENT                                  0.219900
CREDIT_TERM                                             0.094941
DAYS_EMPLOYED_PERCENT                                  -0.159905
TARGET                                                  0.000000
Name: 3, Length: 455, dtype: float64

# Adding three new features

In [4]:
train['ANNUITY_INCOME_PERCENT'] = train['AMT_ANNUITY'] / train['AMT_INCOME_TOTAL']
train['CREDIT_TERM'] = train['AMT_ANNUITY'] / train['AMT_CREDIT']
train['DAYS_EMPLOYED_PERCENT'] = train['DAYS_EMPLOYED'] / train['DAYS_BIRTH']

In [6]:
test['ANNUITY_INCOME_PERCENT'] = test['AMT_ANNUITY'] / test['AMT_INCOME_TOTAL']
test['CREDIT_TERM'] = test['AMT_ANNUITY'] / test['AMT_CREDIT']
test['DAYS_EMPLOYED_PERCENT'] = test['DAYS_EMPLOYED'] / test['DAYS_BIRTH']

In [8]:
train_labels = train['TARGET']

# Align the dataframes, this will remove the 'TARGET' column
train, test = train.align(test, join = 'inner', axis = 1)

train['TARGET'] = train_labels

In [7]:
print('Training Data Shape: ', train.shape)
print('Testing Data Shape: ', test.shape)

('Training Data Shape: ', (307511, 455))
('Testing Data Shape: ', (48744, 454))

In [5]:
print('Training Data Shape: ', train.shape)
print('Testing Data Shape: ', test.shape)

('Training Data Shape: ', (307511, 452))
('Testing Data Shape: ', (48744, 451))

In [9]:
train.to_csv('data/train_app_bureau_merged.csv',index=False)

In [10]:
test.to_csv('data/test_app_bureau_merged.csv',index=False)