In [1]:
import pandas as pd

In [2]:
df_bureau = pd.read_csv('data/bureau.csv')
# #df.groupby('SK_ID_CURR')['SK_ID_CURR'].agg(['count'])
# #df_bureau['SK_ID_BUREAU'].nunique()

In [3]:
df_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [4]:
df_id_only= df_bureau[['SK_ID_CURR','SK_ID_BUREAU']]
# df_id_only.info()

In [5]:
df_bureau_balance= pd.read_csv('data/bureau_balance.csv')

In [6]:
df_group= df_bureau_balance.groupby('SK_ID_BUREAU')['STATUS'].max()

df_group

SK_ID_BUREAU
5001709    X
5001710    X
5001711    X
5001712    C
5001713    X
5001714    X
5001715    X
5001716    X
5001717    C
5001718    X
5001719    C
5001720    1
5001721    C
5001722    C
5001723    X
5001724    X
5001725    X
5001726    C
5001727    C
5001728    0
5001729    C
5001730    C
5001731    X
5001732    X
5001733    X
5001734    0
5001735    C
5001736    C
5001737    C
5001738    C
          ..
6842859    C
6842860    X
6842861    X
6842862    X
6842863    X
6842864    X
6842865    0
6842866    0
6842867    0
6842868    C
6842869    C
6842870    X
6842871    X
6842872    X
6842873    C
6842874    X
6842875    X
6842876    X
6842877    X
6842878    X
6842879    X
6842880    X
6842881    X
6842882    X
6842883    X
6842884    X
6842885    5
6842886    C
6842887    C
6842888    C
Name: STATUS, Length: 817395, dtype: object

In [17]:
df_group = df_group.to_frame()




#df_group.to_csv('result_data/bureau_skid_bal_max.csv',header=True)

In [ ]:
df_aggregate = pd.merge(df_id_only, df_group, on='SK_ID_BUREAU')

In [25]:
df_aggregate=df_aggregate.groupby(['SK_ID_CURR'])['STATUS'].max()

In [32]:
df_aggregate = df_aggregate.to_frame()
#df_aggregate.to_csv('result_data/curr_id_status_max_bureau.csv')

In [33]:
df_aggregate2 = pd.merge(df_aggregate,df_bureau, on='SK_ID_CURR')

In [36]:
df_aggregate2

,SK_ID_CURR,STATUS,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,100001,X,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.000,0.000,0.000,0.0,Consumer credit,-155,0.000
1,100001,X,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.000,0.000,0.000,0.0,Consumer credit,-155,0.000
2,100001,X,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.000,0.000,0.000,0.0,Consumer credit,-155,0.000
3,100001,X,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.000,0.000,0.000,0.0,Consumer credit,-155,0.000
4,100001,X,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.000,113166.000,0.000,0.0,Consumer credit,-6,4630.500
5,100001,X,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.000,373239.000,0.000,0.0,Consumer credit,-16,10822.500
6,100001,X,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.000,110281.500,NaN,0.0,Consumer credit,-10,9364.500
7,100002,X,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.000
8,100002,X,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.000,NaN,0.0,Credit card,-47,NaN
9,100002,X,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.000,0.000,0.0,Consumer credit,-1185,0.000
10,100002,X,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.000
11,100002,X,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.000,0.000,0.0,Consumer credit,-34,0.000
12,100002,X,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.000,31988.565,0.0,Credit card,-24,0.000
13,100002,X,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.000,0.000,0.0,Consumer credit,-7,0.000
14,100002,X,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.000
15,100005,X,6735200,Closed,currency 1,-373,0,-128.0,-123.0,NaN,0,58500.000,0.000,0.000,0.0,Credit card,-121,0.000
16,100005,X,6735201,Active,currency 1,-137,0,1324.0,NaN,NaN,0,568800.000,543087.000,0.000,0.0,Consumer credit,-11,0.000
17,100005,X,6735202,Active,currency 1,-62,0,122.0,NaN,0.000,0,29826.000,25321.500,0.000,0.0,Consumer credit,-31,4261.500
18,100010,C,5576630,Active,currency 1,-1138,0,689.0,NaN,NaN,0,675000.000,348007.500,0.000,0.0,Consumer credit,-18,NaN
19,100010,C,5576632,Closed,currency 1,-2741,0,-928.0,-1138.0,NaN,0,315000.000,0.000,NaN,0.0,Loan for business development,-1138,NaN
20,100013,X,5922083,Closed,currency 1,-2005,0,-909.0,-1334.0,19305.000,0,688500.000,NaN,NaN,0.0,Car loan,-1334,NaN
21,100013,X,5922077,Closed,currency 1,-1210,0,-1089.0,-1118.0,NaN,0,26490.060,0.000,NaN,0.0,Consumer credit,-4,NaN
22,100013,X,5922081,Closed,currency 1,-2070,0,-1707.0,-1218.0,NaN,0,95040.000,NaN,NaN,0.0,Consumer credit,-1215,0.000
23,100013,X,5922082,Closed,currency 1,-1665,0,-567.0,-549.0,NaN,0,1262250.000,NaN,NaN,0.0,Car loan,-549,0.000
24,100019,X,5832095,Active,currency 1,-495,0,10463.0,NaN,0.000,0,270000.000,0.000,270000.000,0.0,Credit card,-46,27000.000
25,100019,X,5832096,Active,currency 1,-495,0,419.0,NaN,0.000,0,450000.000,245470.140,0.000,0.0,Consumer credit,-7,27000.000
26,100028,X,6356879,Closed,currency 1,-992,0,-452.0,-845.0,NaN,0,43024.500,0.000,NaN,0.0,Consumer credit,-563,NaN
27,100028,X,6356880,Active,currency 1,-1805,0,-1105.0,NaN,NaN,0,0.000,0.000,0.000,0.0,Credit card,-54,NaN
28,100028,X,6356881,Closed,currency 1,-2105,0,-1862.0,-1836.0,NaN,0,31630.500,0.000,0.000,0.0,Consumer credit,-1027,0.000
29,100028,X,6356882,Closed,currency 1,-1924,0,-1375.0,-1375.0,NaN,0,130257.000,0.000,0.000,0.0,Consumer credit,-1001,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774903,456247,X,6022150,Closed,currency 1,-2028,0,-1937.0,-2000.0,NaN,0,59850.000,0.000,0.000,0.0,Consumer credit,-1710,0.000
774904,456247,X,6022151,Active,currency 1,-712,0,10253.0,NaN,NaN,0,3118500.000,2193390.000,0.000,0.0,Mortgage,-28,NaN
774905,456247,X,6022152,Closed,currency 1,-287,0,-190.0,-190.0,15997.410,1,48024.000,0.000,0.000,0.0,Consumer credit,-190,NaN
774906,456247,X,6022153,Active,currency 1,-309,0,1517.0,NaN,22027.500,0,900000.000,0.000,0.000,0.0,Consumer credit,-32,4329.000
774907,456247,X,6022154,Closed,currency 1,-369,0,1458.0,-302.0,0.000,0,225000.000,NaN,NaN,0.0,Consumer credit,-302,26275.500
774908,456247,X,6022155,Closed,currency 1,-832,0,-806.0,-806.0,0.000,0,101250.000,0.000,0.000,0.0,Consumer credit,-806,NaN
774909,456247,X,6022156,Closed,currency 1,-1583,0,-852.0,-1180.0,0.000,0,292500.000,NaN,NaN,0.0,Consumer credit,-1180,NaN
774910,456247,X,6618242,Active,currency 1,-340,0,10617.0,NaN,2898.000,0,94500.000,NaN,NaN,0.0,Credit card,-12,0.000
774911,456247,X,6618243,Closed,currency 1,-776,0,-411.0,-502.0,0.000,0,169159.500,0.000,0.000,0.0,Consumer credit,-500,4329.000
774912,456247,X,6618244,Closed,currency 1,-2482,0,-2299.0,-2298.0,6538.500,0,33012.000,NaN,NaN,0.0,Consumer credit,-2295,4329.000
774913,456247,X,6618241,Closed,currency 1,-1757,0,-1402.0,-1402.0,NaN,0,143667.000,NaN,NaN,0.0,Consumer credit,-1402,4329.000
774914,456250,X,6817236,Closed,currency 1,-1002,0,-272.0,-760.0,NaN,0,483349.500,0.000,0.000,0.0,Consumer credit,-127,384147.000
774915,456250,X,6817237,Active,currency 1,-760,0,1797.0,NaN,0.000,0,2153110.050,1840308.480,0.000,0.0,Consumer credit,-23,51799.500
774916,456250,X,6817238,Active,currency 1,-824,0,2340.0,NaN,0.000,0,450000.000,391731.615,58268.385,0.0,Credit card,-31,27757.395
774917,456253,X,6098498,Closed,currency 1,-919,0,-189.0,-794.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-128,58369.500
774918,456253,X,6098499,Closed,currency 1,-919,0,-189.0,-794.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-701,58369.500
774919,456253,X,5113039,Active,currency 1,-919,0,387.0,NaN,NaN,0,360000.000,171036.000,0.000,0.0,Credit card,-179,58369.500
774920,456253,X,6230038,Active,currency 1,-713,0,1113.0,NaN,NaN,0,2250000.000,1624797.000,0.000,0.0,Consumer credit,-5,NaN
774921,456254,C,6669849,Closed,currency 1,-1104,0,-859.0,-859.0,NaN,0,45000.000,0.000,NaN,0.0,Consumer credit,-401,0.000
774922,456255,X,5126327,Closed,currency 1,-1022,0,-959.0,-958.0,NaN,0,22995.000,0.000,0.000,0.0,Consumer credit,-890,0.000
774923,456255,X,5126328,Closed,currency 1,-970,0,-621.0,-712.0,NaN,0,27472.500,0.000,0.000,0.0,Consumer credit,-700,NaN
774924,456255,X,5126329,Active,currency 1,-573,0,523.0,NaN,NaN,0,553500.000,324171.000,0.000,0.0,Consumer credit,-19,0.000
774925,456255,X,5126330,Closed,currency 1,-1021,0,-959.0,-959.0,NaN,0,22995.000,0.000,NaN,0.0,Consumer credit,-953,3244.500
774926,456255,X,5126331,Active,currency 1,-1020,0,806.0,NaN,NaN,0,810000.000,595102.500,NaN,0.0,Consumer credit,-8,0.000
774927,456255,X,5126332,Active,currency 1,-378,0,27320.0,NaN,NaN,0,90000.000,61060.500,NaN,0.0,Credit card,-11,NaN
774928,456255,X,5126333,Active,currency 1,-363,0,1463.0,NaN,0.000,0,436032.000,363573.540,0.000,0.0,Consumer credit,-25,0.000
774929,456255,X,5126334,Active,currency 1,-451,0,279.0,NaN,15439.905,0,450000.000,191005.470,0.000,0.0,Consumer credit,-55,3244.500
774930,456255,X,5126335,Closed,currency 1,-1512,0,315.0,-781.0,25578.000,0,900000.000,NaN,NaN,0.0,Consumer credit,-781,0.000
774931,456255,X,5126336,Closed,currency 1,-2337,0,8620.0,-779.0,2646.000,1,38925.000,NaN,NaN,0.0,Credit card,-779,3244.500
774932,456255,X,5126337,Closed,currency 1,-2337,0,-1243.0,-1621.0,16618.500,0,450000.000,NaN,NaN,0.0,Consumer credit,-1621,0.000