In [1]:
import pandas as pd
import numpy as np

# Loading our processed main app , prev app and bureau merged correlation processed data

In [2]:
train = pd.read_csv('result_data/train_app_prev_b_merged_corr.csv')

In [3]:
test = pd.read_csv('result_data/test_app_prev_b_merged_corr.csv')

In [4]:
pos = pd.read_csv('result_data/pos_processed.csv')

In [6]:
#installment = pd.read_csv('result_data/installment_processed.csv')

In [5]:
print('shape of pos:',pos.shape)
#print('shape of installment:',installment.shape)
print('shape of train:',train.shape)
print('shape of test:',test.shape)

shape of pos: (337252, 216)
shape of train: (307511, 705)
shape of test: (48744, 704)

In [6]:
pos['SK_ID_CURR'].nunique()

337252

In [7]:
#installment['SK_ID_CURR'].nunique()

NameError: name 'installment' is not defined

In [21]:
train = train.merge(pos,on='SK_ID_CURR',how='left')

In [11]:
train.drop(columns=['Unnamed: 0'],inplace=True)

In [22]:
train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,client_cash_SK_DPD_DEF_min_count,client_cash_SK_DPD_DEF_min_mean,client_cash_SK_DPD_DEF_min_max,client_cash_SK_DPD_DEF_min_min,client_cash_SK_DPD_DEF_min_sum,client_cash_SK_DPD_DEF_sum_count,client_cash_SK_DPD_DEF_sum_mean,client_cash_SK_DPD_DEF_sum_max,client_cash_SK_DPD_DEF_sum_min,client_cash_SK_DPD_DEF_sum_sum
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,19.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,28.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,21.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,66.0,0.0,0.0,0.0,0.0,66.0,0.0,0.0,0.0,0.0

In [23]:
train.to_csv('result_data/train_app_prev_b_pos_merged.csv',index=False)

In [12]:
import gc
gc.enable()
del train, installment
gc.collect()

14

In [24]:
test = test.merge(pos,on='SK_ID_CURR',how='left')

In [15]:
test.drop(columns=['Unnamed: 0'],inplace=True)

In [25]:
test.to_csv('result_data/test_app_prev_b_pos_merged.csv',index=False)

In [26]:
test.shape

(48744, 918)

In [27]:
train.shape

(307511, 919)