In [1]:
import pandas as pd
import numpy as np

# Loading our processed main app , prev app and bureau merged correlation processed data

In [2]:
train = pd.read_csv('result_data/train_app_prev_b_pos_merged.csv')

In [3]:
test = pd.read_csv('result_data/test_app_prev_b_pos_merged.csv')

In [4]:
#credit = pd.read_csv('result_data/credit_blc_processed.csv')

In [4]:
#pos = pd.read_csv('result_data/pos_processed.csv')

In [4]:
installment = pd.read_csv('result_data/installment_processed.csv')

In [ ]:
## Import up sound alert dependencies
from IPython.display import Audio, display

def allDone():
  display(Audio(url='https://sound.peal.io/ps/audios/000/000/537/original/woo_vu_luvub_dub_dub.wav', autoplay=True))
## Insert whatever audio file you want above

allDone()

In [7]:
#print('shape of credit:',credit.shape)
print('shape of installment:',installment.shape)
print('shape of train:',train.shape)
print('shape of test:',test.shape)

shape of installment: (339587, 151)
shape of train: (307511, 919)
shape of test: (48744, 918)

In [6]:
credit['SK_ID_CURR'].nunique()

103558

In [7]:
#installment['SK_ID_CURR'].nunique()

NameError: name 'installment' is not defined

In [9]:
train = train.merge(installment,on='SK_ID_CURR',how='left')

In [10]:
train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,client_installments_AMT_PAYMENT_min_count,client_installments_AMT_PAYMENT_min_mean,client_installments_AMT_PAYMENT_min_max,client_installments_AMT_PAYMENT_min_min,client_installments_AMT_PAYMENT_min_sum,client_installments_AMT_PAYMENT_sum_count,client_installments_AMT_PAYMENT_sum_mean,client_installments_AMT_PAYMENT_sum_max,client_installments_AMT_PAYMENT_sum_min,client_installments_AMT_PAYMENT_sum_sum
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,19.0,9251.775,9251.775,9251.775,175783.73,19.0,219625.700,219625.700,219625.700,4.172888e+06
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,25.0,46164.332,98356.990,6662.970,1154108.20,25.0,453952.220,1150977.400,80773.380,1.134881e+07
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,3.0,5357.250,5357.250,5357.250,16071.75,3.0,21288.465,21288.465,21288.465,6.386539e+04
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,16.0,62154.793,691786.900,2482.920,994476.70,16.0,232499.700,691786.900,25091.324,3.719995e+06
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,66.0,7329.642,16046.100,0.180,483756.38,66.0,172669.890,280199.700,18330.390,1.139621e+07

In [11]:
train.drop(columns=['Unnamed: 0'],inplace=True)

In [11]:
train.to_csv('result_data/train_app_prev_b_pos_installment_merged.csv',index=False)

In [10]:
import gc
gc.enable()
del train
gc.collect()

7

In [13]:
test = test.merge(installment,on='SK_ID_CURR',how='left')

In [ ]:
test.head()

In [15]:
test.drop(columns=['Unnamed: 0'],inplace=True)

In [18]:
test.to_csv('result_data/test_app_prev_b_pos_installment_merged.csv',index=False)

In [ ]:
test.shape

In [27]:
train.shape

(307511, 919)