In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn import linear_model
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
X = pd.read_csv('data/app_train_processed.csv')

In [47]:
test_data = pd.read_csv('data/app_test_processed.csv')

In [3]:
X.info()
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 241 entries, SK_ID_CURR to DAYS_EMPLOYED_ANOM
dtypes: float64(66), int64(175)
memory usage: 565.4 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 241 entries, SK_ID_CURR to DAYS_EMPLOYED_ANOM
dtypes: float64(66), int64(175)
memory usage: 565.4 MB

In [4]:
Y  = X['TARGET']
X  = X.drop(columns=['TARGET'],axis=1)

In [5]:
print(X.shape)
print(Y.shape)

(307511, 240)
(307511,)

In [6]:
def RFC(X_train,X_test, y_train ,y_test,num_trees,feature):
    clf = RandomForestClassifier(n_estimators = num_trees,
                                 max_features=feature,
                                 max_depth=None,
                                 n_jobs=-1)
    clf.fit(X_train, y_train.ravel())
    score = clf.score(X_test,y_test.ravel())
    return (clf,score)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
clf , score = RFC(X_train,X_test,y_train,y_test,600,'sqrt')

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61503 entries, 245895 to 253004
Columns: 240 entries, SK_ID_CURR to DAYS_EMPLOYED_ANOM
dtypes: float64(66), int64(174)
memory usage: 113.1 MB

In [48]:
prediction = clf.predict_proba(test_data)

In [49]:
df_pred = pd.DataFrame(prediction)

In [51]:
df_pred['SK_ID_CURR'] =test_data['SK_ID_CURR']
df_pred.set_index('SK_ID_CURR')

                   0         1
SK_ID_CURR
100001      0.893333  0.106667
100005      0.780000  0.220000
100013      0.866667  0.133333
100028      0.910000  0.090000
100038      0.763333  0.236667
100042      0.886667  0.113333
100057      0.933333  0.066667
100065      0.856667  0.143333
100066      0.946667  0.053333
100067      0.776667  0.223333
100074      0.810000  0.190000
100090      0.846667  0.153333
100091      0.793333  0.206667
100092      0.780000  0.220000
100106      0.810000  0.190000
100107      0.783333  0.216667
100109      0.806667  0.193333
100117      0.856667  0.143333
100128      0.866667  0.133333
100141      0.803333  0.196667
100150      0.906667  0.093333
100168      0.886667  0.113333
100169      0.886667  0.113333
100170      0.900000  0.100000
100171      0.896667  0.103333
100172      0.826667  0.173333
100184      0.813333  0.186667
100187      0.830000  0.170000
100212      0.803333  0.196667
100222      0.846667  0.153333
...              ...       ...
455963      0.890000  0.110000
455965      0.910000  0.090000
456007      0.700000  0.300000
456008      0.853333  0.146667
456009      0.926667  0.073333
456010      0.866667  0.133333
456011      0.876667  0.123333
456013      0.810000  0.190000
456028      0.720000  0.280000
456058      0.853333  0.146667
456111      0.813333  0.186667
456114      0.840000  0.160000
456115      0.813333  0.186667
456116      0.893333  0.106667
456119      0.873333  0.126667
456120      0.840000  0.160000
456122      0.823333  0.176667
456123      0.843333  0.156667
456166      0.803333  0.196667
456167      0.870000  0.130000
456168      0.853333  0.146667
456169      0.826667  0.173333
456170      0.893333  0.106667
456189      0.840000  0.160000
456202      0.750000  0.250000
456221      0.830000  0.170000
456222      0.800000  0.200000
456223      0.893333  0.106667
456224      0.883333  0.116667
456250      0.750000  0.250000

[48744 rows x 2 columns]

In [52]:
df_pred_0 =df_pred.drop(columns=[1])
df_pred_1 =df_pred.drop(columns=[0])

In [53]:
df_pred_1.set_index('SK_ID_CURR')
df_pred_0.set_index('SK_ID_CURR')

                   0
SK_ID_CURR
100001      0.893333
100005      0.780000
100013      0.866667
100028      0.910000
100038      0.763333
100042      0.886667
100057      0.933333
100065      0.856667
100066      0.946667
100067      0.776667
100074      0.810000
100090      0.846667
100091      0.793333
100092      0.780000
100106      0.810000
100107      0.783333
100109      0.806667
100117      0.856667
100128      0.866667
100141      0.803333
100150      0.906667
100168      0.886667
100169      0.886667
100170      0.900000
100171      0.896667
100172      0.826667
100184      0.813333
100187      0.830000
100212      0.803333
100222      0.846667
...              ...
455963      0.890000
455965      0.910000
456007      0.700000
456008      0.853333
456009      0.926667
456010      0.866667
456011      0.876667
456013      0.810000
456028      0.720000
456058      0.853333
456111      0.813333
456114      0.840000
456115      0.813333
456116      0.893333
456119      0.873333
456120      0.840000
456122      0.823333
456123      0.843333
456166      0.803333
456167      0.870000
456168      0.853333
456169      0.826667
456170      0.893333
456189      0.840000
456202      0.750000
456221      0.830000
456222      0.800000
456223      0.893333
456224      0.883333
456250      0.750000

[48744 rows x 1 columns]

In [ ]:
df_pred_0

In [54]:
df_pred_0.to_csv('pred_zero.csv',index=False)
df_pred_1.to_csv('pred_one.csv',index=False)

In [ ]:
from sklearn.metrics import roc_auc_score


roc_auc_score(list)